$primary-color: #409eff;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;
$text-color: #2c3e50;
$base-border-color: #dcdfe6;
$primary-text-color: #303133;
$light-border-color: #e4e7ed;

$header-height: 80px;
$header-width: 100vw;

$main-bg-color: #f2f3f5;
$main-width: 65%;
$main-height: 100vh;

$base-bg-color: #ffffff;

$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;
$padding-xl: 20px;
$padding-xxl: 25px;

$margin-s: 5px;
$margin-m: 10px;
$margin-l: 15px;
$margin-xl: 20px;
$margin-xxl: 25px;

$border-radius-s: 5px;
$border-radius-m: 10px;
$border-radius-l: 15px;
$border-radius-xl: 20px;

$font-size-s: 0.5rem; // 0.5rem = 5px
$font-size-m: 0.75rem;
$font-size-l: 1rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.5rem;
